.container{
    background-color: rgb(247, 247, 247);
    border-radius: 10px;
    padding-top: 10px;
}
label{
    font-size: 20px;
}
.row{
    margin-top: 15px;
}
.btn{
    margin-bottom: 10px;
}
.divider{
    width:5px;
    height:auto;
    display:inline-block;
}