<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col-md-4 offset-md-1 point col-sm-12 offset-sm-0" style="height:200px; margin-top: 20px;" [routerLink]="'/boxes/unavailable'">
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                  <div class="div">
                    <h2 style="margin-top: 80px;" class="text-center">Unavailable Boxes</h2>
                  </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 offset-md-2 mt-3 point col-sm-12 offset-sm-0" style="height:200px;" [routerLink]="'/boxes/borrowing'">
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <h2 style="margin-top: 80px" class="text-center">Borrowed Boxes</h2>
                </div>
            </div>
        </div>
        <div class="col-1"></div>
        <div class="col-md-10 offset-md-1 mt-3 point col-sm-12 offset-sm-0" style="height:200px;" [routerLink]="'/boxes/available'">
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <h2 style="margin-top: 80px" class="text-center">Available Boxes</h2>
                </div>
            </div>
        </div>
        <div class="col-md-10 offset-md-1 mt-3 point col-sm-12 offset-sm-0" style="height:200px;" [routerLink]="'/boxes/listed'">
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <h2 style="margin-top: 80px" class="text-center">Boxes with a list</h2>
                </div>
            </div>
        </div>
    </div>
</div>